<footer class="border-top">
    <div class="container">
        <div class="row justify-content-center">
                <div class="small text-center text-muted fst-italic">Copyright &copy; DriveTest 2023</div>
        </div>
    </div>
</footer>